.barnds-swiper {
    padding: 40px 0;
}

.brands-container {
    height: 263px;
    padding-top: 35px;
}

.brands-title {
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    margin-left: 25px;
}